@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@font-face {
  font-family: 'Libre Baskerville';
  src: url('../srcs/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: #ebe2c5;
}

.bouton_style{
  color: #47392A;
  border-radius: 10%;
  border: none;
  background-color: #DBBD80;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  font-size: x-small;
  height: 30px;
}

.fullscreen_bg {
  background-image: url("images/bg.jpg");
  height: 98%;

  /* image centrée en placée parfaitement */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body_box{
  height: 80%;
}

.navbar_style{
  background-color: #43311ab6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.link_disable{
  letter-spacing: 1px;
  text-align: left;
  font-size: 16px;
}
.link_enable{
  color: #eddcb3 ;
  letter-spacing: 1px;
  text-align: left;
  font-size: 16px;
}
.link_enable:hover{
  color: #c5ab78;
  outline:0;
}

.icon_drop{
  color:#d5d54b;
  padding-left:40%;
  padding-top:10%;
  outline:0;
}
.icon_drop:hover{
  color:#d5d54b;
}

.drop_style{
  background-color:#DBBD80;
  color:#47392A;
}
.drop_style:hover{
  color:black;
  background-color:#DBBD80;
  outline:0;
}

.valider_bouton{
  margin-top: 3px;
  margin-left: 1%;
  border: none;
  border-left: solid 1px black;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%; 
}
.valider_bouton:hover{
  color: black;
  outline:0;
}

/*-----------------------------------------------*/
/*message de bienvenue*/
.message_box{
  padding: 15px;
  width: 95%;
  margin-top: 13%;
  margin-left: 15%;
}
.welcome{
  padding-right: 2%;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: large;  
  color: #cabc8e;
  text-align: left;
}
.text{
  margin-top: 2%;
  letter-spacing: 3px;
  font-size: 50px;
  color: #cabc8e;
  text-align: left;
}

/*container pour les éléments de la page home*/

.content_box_home{
  margin-top: 5%;
  width: 90%;
  background-color: #f7f3e2;
}

.content{
  padding-top: 1%;
  padding-bottom: 2%;
  height: auto;
  width: 80%;
  background-color:#FCF7E7;
  border:2px solid #f7e6c45e;
}

hr{
  border: none;
  border-top: 3px double #A39C67;
  overflow: visible;
  text-align: center;
  height: 5px;
}
h1{
  margin: 3%;
  letter-spacing: 3px;
  font-size: 35px;
  color: #47392A;
  text-align: center;
}
h2{
  margin: 3%;
  letter-spacing: 3px;
  font-size: 26px;
  color: #47392A;
  text-align: center;
}
h3{
  font-size: large;  
  color:rgb(69, 42, 6);
}
h4{
  font-size:16px;
  color: rgb(60, 29, 1);
}

.selection{
  height: 200px;
  margin-top: 150px;
  margin-bottom: 200px;
}
.selection1{
  margin-top: 10%;
}

/*-----------------------------------------------*/
/*page profil*/

.items_box{
  display: block;
  width: initial;
}
.titles{
  color: rgb(3, 54, 4);
  font-size: medium;
}

input#file{
  width: 75%;
}

/*boite de gauche*/

.edit_profil, .deconnexion{
  margin-top: 2px;
  margin-right: 3px;
}
.deconnexion:hover, .edit_profil:hover{
  color: black;
  cursor:pointer;
  outline:0;
}
.pic_parent{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10%;
  margin-bottom: 2%;
  border: solid 1px black;
}
.profil_pic{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  object-fit: cover;
}

/*à gérer*/
.profil_pic:hover{
  opacity: 10%;
  outline:0;
}
.edit_pic_button{
  background-color: transparent;
  opacity: 0%;
  background-image: url(images/edit.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
.edit_pic_button:hover{
  opacity: 100%;
  outline:0;
}

#new_pic{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.pseudo{
  display: inline-block;
  width: auto;
  font-size: large;
  margin-left: 10%;
}
.icon_gender{
  display: inline-block;
  vertical-align: baseline;
}

.three_infos{
  margin-left: 10%;
  margin-top: 5px;
  width: max-content;
  border: solid 1px gray;
  border-left: none;
  border-right: none;
}
.three_infos_style{
  margin: 5px;
  color: rgb(3, 54, 4);
  text-align: center;
  font-size: small;
}

.bio_box{
  color: rgb(3, 54, 4);
  margin: 2%;
}
#bio_space{
  border: solid 1px gray;
}
#save_bio{
  border: solid 1px gray;
  border-radius: 10%;
  cursor:pointer;
  outline:0
}
.save_bio:hover{
  color: black;
  outline:0;
}

/*boite de droite*/

.profil_title {
  color: #978068d5;
  font-size: xx-large;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
}

.book_statut{
  text-align:center;
  border-right: solid 1px rgb(125, 93, 17);
}

.show_pic{
  padding:25px;
}

.more_box{
  margin-bottom: 25px;
  margin-top:15px;
}
.more{
  text-decoration: none;
  margin-left: 50%;
  color: rgb(37, 54, 4);
}
.more:hover{
  text-decoration: none;
  color: black;
  outline:0;
}

/*-----------------------------------------------*/
/*page communauté*/

.find_reader {
  display: inline-block;
  letter-spacing: 4px;
  text-align: center;
}

.reader_pseudo{
  margin-bottom: 5%;
  border: none;
  padding-bottom: 3px;
  background-color: transparent;
  color: rgb(78, 83, 49);
  border-bottom: solid rgb(71, 75, 48);
  border-bottom-width: 1px;
  width: 125px;
}
.form_reader{
  margin-top: 10%;
  margin-left: 7%;
}

.advanced_search_button{
  background-color:transparent;
  border:none;
  margin: 10px;
  float: right;
}
.advanced_search_style:hover{
  color:black;
  outline:0;
}

.input_text{
  color: rgb(65, 63, 16);
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;  
  width:70%;
  margin:3%;
  border:solid 1px rgb(67, 78, 16);
  background-color:transparent;
  outline: 0;
  cursor: pointer;
}
.input_text:hover{
  border: solid 1px rgb(0, 0, 0);
  outline:0;
}

.input_label, select{
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance: none;
}

/* left bloc */
.parent_users_pic{
  position: relative;
  width: 100px;
  height: 100px;
  margin: 5%;
  border: solid 1px black;
}

.users_pic{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  object-fit: cover;
}

/*-----------------------------------------------*/
/*page resultats  de cherche*/

.error_research{
  padding:5%;
  padding-left:0;
  position: relative;
}
.no_error_research{
  padding:5%;
  padding-left:0;
  position: relative;
}

/*-----------------------------------------------*/
/*page livre*/

.tag_style{
  display: inline-block;
  padding: 4px;
  padding-right:10px;
  background-color: #DBBD80;
  border-left: 3px solid #A39C67;
  font-size: small;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 3px;
  margin-top: 2%;
}

.footer_logo {
  margin-top: 15%;
  max-width: 265px;
  height: auto;
  width: 90%;
}

.footer{
  padding-bottom:2%;
  padding-top: 2%;
  margin-top: 10%;
  background-color: #43311ab6;
}

.footer_title {
  font-size:large;
  letter-spacing:2px;
  margin-top:10%;
  color: #eddcb3;
  padding-bottom: 5px;
  text-align:center;
}

.footer_col {
  padding:0;
  border:1px solid rgba(82, 61, 31, 0.596);
  border-top:none;
  border-bottom:none;
}

.footer_text{
  letter-spacing:2px;
  padding-bottom: 5px;
  color:#c5b694;
  text-align:center;
}
.footer_text:hover{
  text-decoration: none;
  color:#a18e67;
  outline:0;
}

.footer_li{
  list-style:none;
  margin-bottom: 5px;
  text-align:center;
}